.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
    transition: 0.2s ease-in;

    color: $black;
	background: #dfe6ed;
	border-bottom: 1px solid #cbd4de;

	.logo {
		font-family: $font-family-logo;
		font-size: 3rem;
	}
    // nav-links
	a {
		color: $black;
		text-decoration: none;
		padding: 0 20px;

		&:hover {
			color: $primary;
		}

        // my passport count
		span {
			display: inline-block;
			position: relative;
			top: -8px;
			left: 0px;
			font-weight: bold;
			line-height: 18px;
			text-align: center;
			background: white;
			border-radius: 100%;
			width: 18px;
			height: 18px;
		}
	}
}